<div class="container">
    <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
    <h2>Update User</h2>

    <!-- Form start -->
    <form (ngSubmit)="updateUser()">
        <!-- Username -->
        <div class="form-group">
            <label for="">Name: </label>
            <input type="text" name="username" [(ngModel)]="userData.username">
        </div>
        <!-- Username -->
        <!-- City -->
        <div class="form-group">
            <label for="">City: </label>
            <input type="text" name="city" [(ngModel)]="userData.city">
        </div>
        <!-- City -->
        <!-- Role -->
        <div class="form-group">
            <label for="">Role: </label>
            <input type="text" name="role" [(ngModel)]="userData.role">
        </div>
        <!-- Role -->

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Update
        </button>
    
        <!-- Modal start -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Xác nhận cập nhật dữ liệu?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->
    </form>
    <!-- Form end -->

</div>